@import "lib/_mixins";

.inputIncremental {
  //scopped vars
  $incremental-button-box-size: 18px;

  @extend %clearfix;
  border-radius: 3px;
  display: inline-block;
  padding-right: $incremental-button-box-size;
  position: relative;

  > input, > .incrementalButtonBox { float: left; }

  > input {
    border-radius: 3px 0 0 3px;
    border-right: none;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3);
    margin: 0;
    padding : 3px 5px;
    text-align: right;

    &:focus, &.focus { outline: none; }
  }

  .incrementalButtonBox {
    border-left: none;
    border-radius: 0 3px 3px 0;
    bottom:0;
    position: absolute;
    right: 0;
    top:0;
    width: $incremental-button-box-size;
  }

  a {
    @include transition(all .6s);
    color: #333;
    display: block;
    height: 50%;
    position: relative;
    text-align: center;

    &:after {
      border-style: solid;
      border-width: 0 3px 3px 3px;
      border-color: transparent transparent #fff transparent;
      content: '';
      height: 0;
      left: 50%;
      margin-top: -1.5px;
      margin-left: -3px;
      position: absolute;
      top: 50%;
      @include transition(all .6s);
      width: 0;
    }

    &.increment {
      margin-bottom: 1px;

      &:hover, &.hover {
        background-color: rgba(255,255,255, 0.2);
      }
    }

    &.decrement {

      &:after {
        border-width: 3px 3px 0 3px;
        border-color: #fff transparent transparent transparent;
      }

      &:hover, &.hover { background-color: rgba(255,255,255, 0.25); }
    }
  }

  @include createTheme();

  &.blueTheme {
    @include createTheme(#6EC3EA, #2B81B9, #6EC3EA, #2B81B9, 0 0 3px #5C98DC);
  }

  &.greenTheme {
    @include createTheme(#BAD190, #7CA743, #91BB49, #819B68, 0px 0px 6px #7CA743);
  }
  &.orangeTheme {
    @include createThemeByColor(#ffb700);
  }
}