/* Css for Input Incremental */

/*
 * Functions
 */
@mixin _clearfix() {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

@mixin noBorderRadiusLeft() {
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;

  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;

  -o-border-radius-topleft: 0 !important;
  -o-border-radius-bottomleft: 0 !important;

  -ms-border-radius-topleft: 0 !important;
  -ms-border-radius-bottomleft: 0 !important;

  border-radius-topleft: 0 !important;
  border-radius-bottomleft: 0 !important;
}
@mixin noBorderRadiusRight() {
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;

  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;

  -o-border-radius-topright: 0 !important;
  -o-border-radius-bottomright: 0 !important;

  -ms-border-radius-topright: 0 !important;
  -ms-border-radius-bottomright: 0 !important;

  border-radius-topright: 0 !important;
  border-radius-bottomright: 0 !important;
}

@mixin createTheme($gradient1: #DCDCDC, $gradient2: #9C9C9C, $gradient3: #DBDBDB, $border_color:#666, $boxShadow: 1px 1px 6px #666) {
   &.focus {
    @include box-shadow($boxShadow);
   }

   input {
    border: 1px solid $border_color;
  }

  .incrementalButtonBox {
    background-color: #46a6db;
    @include background-image(linear-gradient(top, $gradient1, $gradient2 50%, $gradient3));
    border: 1px solid $border_color;
  }
}

@mixin createThemeByColor($themeColor, $boxShadowPosition: 0 0 6px){
  $gradient1: lighten($themeColor, 22%);
  $gradient3: lighten($themeColor, 28%);
  $border_color: darken($themeColor, 30%);
  $boxShadow: $boxShadowPosition $themeColor;
  @include createTheme($gradient1, $themeColor, $gradient3, $border_color, $boxShadow);
}



/*
 * Css
 */
.inputIncremental {
  display: inline-block;
  position: relative;
  @include _clearfix();
  border-radius: 3px;
  $incrementalButtonBox_size: 18px;
  padding-right: $incrementalButtonBox_size;

  > input, > .incrementalButtonBox {
    float: left;
  }

  > input {
    @include box-shadow(inset 0px 1px 3px rgba(0,0,0,0.3));
    @include noBorderRadiusRight();
    text-align: right;
    border-radius: 3px 0 0 3px;
    padding : 3px 5px;
    border-right: none;

    &:focus, &.focus {
      outline: none;
    }
  }

  .incrementalButtonBox {
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    width: $incrementalButtonBox_size;
    border-radius: 0 3px 3px 0;
    border-left: none;
  }

  a {
    display: block;
    height: 50%;
    text-align: center;
    color: #333;
    position: relative;
    @include transition(all .2s);

    &:after {
      after: ' ';
      content: '';
    }

    > .after, &:after {
      width: 6px;
      height: 3px;
      background: inline-image('buttonIcons-white.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin: 0 auto;
      margin-top: 4px;
      @include transition(all .6s);
    }

    &.increment {
      margin-bottom: 1px;
      &:hover, &.hover {
        background-color: rgba(255,255,255, 0.2);
        > .after, &:after {
          //margin-top: 3px;
        }
      }
    }

    &.decrement {
      > .after, &:after {
        background-position: 0 -3px;
      }
      &:hover, &.hover {
        background-color: rgba(255,255,255, 0.25);
        > .after, &:after {
          //margin-top: 5px;
        }
      }
    }
  }

  @include createTheme();

  &.blueTheme {
    @include createTheme(#6EC3EA, #2B81B9, #6EC3EA, #2B81B9, 0 0 3px #5C98DC);
  }

  &.greenTheme {
    @include createTheme(#BAD190, #7CA743, #91BB49, #819B68, 0px 0px 6px #7CA743);
  }
  /*
    &.orangeTheme {
      @include createThemeByColor(#ffb700);
    }
  */
}